.formBorder {
  /* border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  border-color: rgba(255, 255, 255, 0.6); */
  box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 24px 0px, rgba(0, 0, 0, 0.25) 0px 44px 32px 0px;
  background-color: rgb(234, 231, 225);
  /* width: 350px; */
  border-radius: 8px;
  transition: all .2s ease-in-out;
}

.formPadding {
  padding: 20px;
}

.randomBackground {
    /* background: url("https://source.unsplash.com/random/1920x1080") no-repeat; */
    background: url("https://picsum.photos/1920/1080") no-repeat;
	height: 100%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

body, html {
  height: 100%;
}